<!-- Header
============================================= -->
<header id="pc_header">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="wideContainer container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <!-- Logo ============================================= -->
        <%= link_to pc_items_path, class:'pull-left', "data-dark-logo" => "/assets/cat.png" do %>
            <%= image_tag("cat.png", size:"96x96", alt: "SWdurables") %>
        <% end %>
        <a class="navbar-brand hidden-xs" href="/">你好~我是信為生管小幫手</a>
        <a class="navbar-brand visible-xs" href="/">SW</a>
        <!-- #logo end -->

        <%= render 'common/pc/search_bar' %>

      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <%= render_nav_link('倉管區', items_path) %>
          <%= render_nav_link('追料區', procedures_path) %>
        </ul>
      </div>

    </div>
  </div>
</header><!-- #header end -->