- @pc_procedures.each do |pc_procedure|
  / if a procedure has no stage then skip it !!!
  /= pc_procedure
  - if pc_procedure.stages.exists?
    - status = pc_procedure.stages.where(finish_date: nil).present? ? 'primary' : 'success'
    = simple_form_for pc_procedure, wrapper: :horizontal_table_form do |f|
      .panel#procedure-stage-panel{ class: "panel-#{status}" }
        .panel-heading{ data: { picnum: pc_procedure.workpiece.picnum } }
          - current_stage = pc_procedure.stages.where(finish_date: nil).first || pc_procedure.stages.last
          - number = current_stage.try(:amount)
          - name = current_stage.try(:factory_name)
          - date = current_stage.try(:arrival_date) || current_stage.try(:finish_date)
          .text-center
            - if number && pc_procedure.stages.where(finish_date: nil).first
              = "#{Date.strptime(date, '%m/%d/%Y')}，有#{number}個#{pc_procedure.workpiece.picnum[-7..-1]}在#{name}"
            - else
              = "#{Date.strptime(date, '%m/%d/%Y')} | #{pc_procedure.workpiece.picnum[-7..-1]} | Finish"
            %span.glyphicon.glyphicon-resize-full.show-stages
        .panel-body
          %table.table.procedure-table
            %tbody
              %tr{ class: status }
                = f.input :sourcing_type, placeholder: 'sourcing_type'
                = f.input :start_date
                = f.input :customer
                = f.input :material_spec, placeholder: 'material_spec'
                = f.input :procedure_amount
                %td= link_to 'Edit', edit_pc_procedure_path(pc_procedure)
                %td= link_to 'Destroy', pc_procedure, :method => :delete, :data => { :confirm => 'Are you sure?' }
                %td= link_to 'New Proc', new_pc_procedure_path(copy_id: pc_procedure)

        = render 'procedure_stage', pc_procedure: pc_procedure

= link_to 'New Blank Procedure', new_pc_procedure_path