<!DOCTYPE html>
<html dir="ltr" lang="zh-TW">
<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= render 'common/asset_links' %>

</head>

<body class="dark" data-no-turbolink="true">

  <%= render 'common/pc/header' %>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <!-- Content
  ============================================= -->
  <%= yield %>
  <!-- #content end -->

  <!-- Footer
  ============================================= -->
  <footer></footer>    

</body>
</html>
