<!-- Header
============================================= -->
<header id="header">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="wideContainer container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <!-- Logo ============================================= -->
        <a href="/" class="pull-left" data-dark-logo="/assets/cat.png"><%= image_tag("cat.png", size:"96x96", alt: "SWdurables") %></a>
        <a class="navbar-brand hidden-xs" href="/">你好~我是信為庫存小幫手</a>
        <a class="navbar-brand visible-xs" href="/">SW</a>
        <!-- #logo end -->

        <%= render 'partial/search_bar' %>

      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <%= render_nav_link('所有品項', items_path) %>
          <%= render_nav_link('新品項', new_item_path) %>
          <%= render_nav_link('生管區', pc_items_path) %>
        </ul>
      </div>

    </div>
  </div>
</header><!-- #header end -->