<%= form_for @order, :html => {:class => 'nobottommargin'} do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col_half">
    <%= f.label :picnum %><br>
    <%= f.text_area :picnum, :rows => "20", class:"sm-form-control"  %>
  </div>
  <div class="col_half">
    <%= f.label :oldPicnum %><br>
    <%= f.text_area :oldPicnum, :rows => "20", class:"sm-form-control"  %>
  </div>
  <div class="col_half col_last">
    <%= f.label :finishQty %><br>
    <%= f.text_area :finishQty, :rows => "20", class:"sm-form-control"  %>
  </div>
  <div class="col_half col_last">
    <%= f.label :unfinishQty %><br>
    <%= f.text_area :unfinishQty, :rows => "20", class:"sm-form-control"  %>
  </div>
  <div class="col_full">
    <%= f.submit @submitText , :class => "button button-3d nomargin" %>
  </div>
<% end %>
