
<% render_picnums %>

<% @items.each do |item| %>
  
    <tr <%= "style=#{style_customer(item.customer)}" %> >

      <td class="smCell center">
        <%= item.location %>
      </td>

      <td class="lgCell right">
        <%= sanitize item.picnum %>
      </td>

      <td class="lgCell center">
        <%= sanitize item.oldpicnum, tags: %w(mark span br) if item.oldpicnum %>
      </td>

      <td class="lgCell center">
        <%= item.note %>
      </td>

      <td class="smCell center">
        <%= item.finished %>
      </td>

      <td class="smCell center">
        <%= item.unfinished %>
      </td>

      <td class="lgCell">
        <%=render_clipboard_content(item) %>
      </td>
    </tr>

<% end %>