= simple_form_for @workpiece do |f|
  - if @workpiece.errors.any?
    #error_explanation
      %h2= "#{pluralize(@workpiece.errors.count, "error")} prohibited this workpiece from being saved:"
      %ul
        - @workpiece.errors.full_messages.each do |msg|
          %li= msg
  = f.input :wp_type
  = f.input :picnum
  = f.input :spec

  .text-center
    = f.submit 'Save', class: 'btn btn-success'
