= form_for @pc_workpiece do |f|
  - if @pc_workpiece.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pc_workpiece.errors.count, "error")} prohibited this pc_workpiece from being saved:"
      %ul
        - @pc_workpiece.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
