%h1 Listing workpieces

%table
  %thead
    %tr
      %th wp_type
      %th picnum
      %th spec
      %th
      %th
      %th

  %tbody
    - @workpieces.each do |workpiece|
      %tr
        %td= workpiece.wp_type
        %td= workpiece.picnum
        %td= workpiece.spec
        %td= link_to 'Show', workpiece
        %td= link_to 'Edit', edit_workpiece_path(workpiece)
        %td= link_to 'Destroy', workpiece, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Workpiece', new_workpiece_path
