%table.table.table-hover
  %thead
    %tr
      /%th ID
      %th 工件種類
      %th 圖號
      %th 實際規格
      %th 此次下單數量
      %th 訂單數量
      %th 發包中數量
      %th 庫存量
      %th 殘餘數量
      %th 預計發包數量
  %tbody
    - @workpieces.each do |workpiece|
      - if workpiece.running_count > 0
        %tr
          /%td= workpiece.id
          %td= workpiece.wp_type
          %td= workpiece.picnum
          %td= workpiece.spec
          %td 0
          %td 從發包分析表來
          %td= link_to workpiece.running_count, search_procedures_path(q: workpiece.picnum)
          %td.check-stock{ data: { picnum: workpiece.picnum } }= link_to '查看庫存', search_items_path(q: workpiece.picnum), remote: true, class: 'check-stock-link'
          %td
          %td
          /%td= link_to 'Show', workpiece
          /%td= link_to 'Edit', edit_workpiece_path(workpiece)
          %td= link_to 'Destroy', workpiece, :method => :delete, :data => { :confirm => 'Are you sure?' }


.text-center= link_to t('.new_workpiece'), new_workpiece_path, class: 'btn btn-success btn-lg'

