- if stage.finish_date.present?
  %tr.success
    %td= stage.arrival_date
    %td= stage.arrival_amount
    %td= stage.factory_name
    %td= stage.estimated_date
    %td= stage.finished_date
    %td= stage.note
    %td= stage.finished_amount
    %td= stage.broken_amount
    %td= stage.aasm_state
- else
  = simple_form_for [procedure, stage], wrapper: :horizontal_table_form do |f|
    %tr
      = f.input :arrival_date
      = f.input :arrival_amount
      = f.input :factory_name
      = f.input :estimated_date
      = f.input :finished_date
      = f.input :note
      = f.input :finished_amount
      = f.input :broken_amount
      %td= stage.aasm_state
      %td= f.submit