<%= simple_form_for(@item, html: { class: 'form-horizontal well', :id => 'itemForm'} ) do |f| %>

  <%= f.input :location, :label => '櫃位', :hint => "此欄位為必填" %>
  <%= f.input :item_type, :label => '品項' %>
  <%= f.input :picnum, :label => '圖號', :hint => "此欄位為必填" %>
  <%= f.input :oldpicnum, :label => '舊圖號' %>
  <%= f.input :finished, :label => '成品數量', as: :text %>
  <%= f.input :unfinished, :label => '半成品數量', as: :text %>
  <%= f.input :note, :label => '提醒', as: :text, :input_html => { :rows => 7 } %>
  <%= f.input :customer, :collection => @customerList, as: :select, include_blank: '不指定' %>

  <div class="form-group center">
    <%= f.button :button, :class => "btn btn-primary" do %>
      <%= @submitText %><i class="fa fa-check"></i>
    <% end %>
    <% if params[:action] == 'edit' %>
      <%= link_to item_path(@item), method: :delete, data: {confirm: '確定要刪除嗎？'}, class:'btn btn-danger' do %>
        刪除<i class="fa fa-times"></i>
      <% end %>
    <% end %>
  </div>

<% end %><!-- simple_form_for end -->