<div class="row">
  <%= form_for @item, :html => {:class => 'form-horizontal well', :id => 'itemForm'} do |f| %>
    <div class="form-group has-success has-feedback">
      <%= f.label :location, '櫃位', class:"col-lg-2 col-md-2 col-sm-2 control-label" %>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <%= f.text_field :location, class:"form-control",  required: true  %>
        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span id="inputSuccess3Status" class="sr-only">(success)</span>
      </div>
    </div>
  <div class="form-group has-success has-feedback">
    <label class="control-label col-sm-3" for="inputSuccess3">Input with success</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="inputSuccess3" aria-describedby="inputSuccess3Status">
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
      <span id="inputSuccess3Status" class="sr-only">(success)</span>
    </div>
  </div>
    <div class="form-group">
      <%= f.label :item_type, '品項', class:"col-lg-2 col-md-2 col-sm-2 control-label" %>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <%= f.text_field :item_type, class:"form-control"  %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :picnum, '圖號', class:"col-lg-2 col-md-2 col-sm-2 control-label" %>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <%= f.text_field :picnum, class:"form-control",  required: true %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :oldPicnum, '舊圖號', class:"col-lg-2 col-md-2 col-sm-2 control-label" %>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <%= f.text_field :oldPicnum, class:"form-control"  %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :finishQty, '成品數量', class:"col-lg-2 col-md-2 col-sm-2 control-label" %>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <%= f.text_field :finishQty, class:"form-control", :type => 'number' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :unfinishQty, '半成品數量', class:"col-lg-2 col-md-2 col-sm-2 control-label" %>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <%= f.text_field :unfinishQty, class:"form-control", :type => 'number'   %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :note, '提醒', class:"col-lg-2 col-md-2 col-sm-2 control-label" %>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <%= f.text_area :note, :rows => 10, class:"form-control"  %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <%= f.submit @submitText , :class => "button button-3d nomargin" %>
        <%= link_to '返回', items_path %>
      </div>
    </div>
  <% end %>

  <div class="form-group <%= 'hidden' if params[:action] != 'new' %>">
    <%= form_tag import_items_path, multipart: true do %>          
        <label for="file">選擇EXCEL檔案</label>
        <%= file_field_tag "file" %>
        <%= submit_tag "上傳", :class => "button button-3d nomargin"  %>
    <% end %>
  </div>

</div>