<% @items.each do |item| %>

  <% submit_id = item_id_to_tag_id(item) %>
        
  <%= form_for(item, remote: true ) do |f| %>

    <tr style="<%= style_customer(item.customer) %>">

      <td class="smCell center">
        <%= f.text_field :location, size: 7, id: submit_id %>
      </td>

      <td class="lgCell right">
        <%= render_picnum_if(item.picnum, params[:search]) %>
      </td>

      <td class="xsCell center">
        <div><!-- this div is for chrome -->
        <%= link_to edit_item_path(item) do %><span id="apple"></span><% end %>
        </div><!-- this div is for chrome -->
      </td>

      <td class="lgCell center">
        <%= render_picnum_if(item.oldpicnum, params[:search]) %>
      </td>

      <td class="lgCell center">
        <% render_item_note(item.note) %>
        <% if item.note.present? %>
          <%= f.text_area :note, :value => clear_format(item.note), rows: count_row(item.note,20), class:'item-note', id: submit_id %>
        <% else %>
          <%= f.text_area :note, rows: 1, id: submit_id %>
        <% end %>
      </td>

      <td class="smCell center">
        <%= f.text_area :finished, :value => clear_format(item.finished), cols: 10, rows: count_row(item.finished,9), id: submit_id %>
      </td>

      <td class="smCell center">
        <%= f.text_area :unfinished, :value => clear_format(item.unfinished), cols: 10, rows: count_row(item.unfinished,9), id: submit_id %>
      </td>

      <td class="xsCell">
        <%= button_tag(type: 'submit', class: "no-btn hidden", id: submit_id) do %>
          <i class="fa fa-check"></i>
        <% end %>
      </td>

    </tr>

  <% end %> <!-- end of form_for -->

<% end %>