<% render_picnums %>

<% @items.each do |item| %>

  <% submit_id = item_id_to_tag_id(item) %>

  <%= form_for(item, remote: true) do |f| %>
    <tr <%= "style=#{style_customer(item.customer)}" %> >

      <td class="smCell center">
        <%= f.text_field :location, size: 7, id: submit_id %>
      </td>

      <td class="lgCell right">
        <%= sanitize item.picnum, tags: %w(mark span br) %>
      </td>

      <td class="xsCell center">
        <div><!-- this div is for chrome -->
        <%= link_to edit_item_path(item) do %><span id="apple"></span><% end %>
        </div><!-- this div is for chrome -->
      </td>

      <td class="lgCell center">
        <%= sanitize item.oldpicnum, tags: %w(mark span br) if item.oldpicnum %>
      </td>

      <td class="lgCell center">
        <%# render_item_note(item.note) %>
        <%= f.text_area :note, :value => clear_format(item.note), rows: count_row(item.note,20), class:'item-note', id: submit_id %>
      </td>

      <td class="smCell center">
        <%= f.text_area :finished, :value => clear_format(item.finished), cols: 10, rows: count_row(item.finished,9), id: submit_id %>
      </td>

      <td class="smCell center">
        <%= f.text_area :unfinished, :value => clear_format(item.unfinished), cols: 10, rows: count_row(item.unfinished,9), id: submit_id %>
      </td>

      <td class="xsCell">
        <%= button_tag(type: 'submit', class: "no-btn hidden", id: submit_id) do %>
          <i class="fa fa-check"></i>
        <% end %>
      </td>
    </tr>
  <% end %> <!-- end of form_for -->

<% end %>


<% comment do %> <!-- below is simple_form version table, speed: 75ms vs 410ms, so don't use here -->
  <%= simple_form_for(item, :wrapper => :horizontal_table_form, remote: true) do |f| %>

    

    <tr <%= "style=#{style_customer(item.customer)}" %> >
      <%= f.input :location, input_html: { size:7, id: submit_id }, wrapper_html: { class: 'smCell' } %>

      <td class="lgCell right">
        <%= sanitize item.picnum, tags: %w(mark span br) %>
      </td>

      <td class="xsCell center">
        <%= link_to edit_item_path(item) do %><span id="apple"></span><% end %>
      </td>

      <td class="lgCell center">
        <%= sanitize item.oldpicnum, tags: %w(mark span br) if item.oldpicnum %>
      </td>

      <%= f.input :note, :value => clear_format(item.note), input_html: { rows: count_row(item.note,20), id: submit_id, class:'item-note'}, wrapper_html: { class: 'lgCell' } %>
      <%= f.input :finished, :value => clear_format(item.finished), input_html: { cols: 10, rows: count_row(item.finished,9), id: submit_id }, wrapper_html: { class: 'smCell' } %>
      <%= f.input :unfinished, :value => clear_format(item.unfinished), input_html: { cols: 10, rows: count_row(item.unfinished,9), id: submit_id }, wrapper_html: { class: 'smCell' } %>

      <td class="xsCell">
        <%= button_tag(type: 'submit', class: "no-btn hidden", id: submit_id) do %>
          <i class="fa fa-check"></i>
        <% end %>
      </td>

    </tr>

  <% end %>

<% end %>