<% if @items.exists? %>
  <% @items_initial = @items %>
  <table class="scroll" id="stock_table">

    <thead>
      <tr>
        <% @table_titles.each do |title, size| %>
          <%= render_table_header(title, size, 'center') %>
        <% end %>      
        <th class="xsCell <%= 'scrollbar' if action_name == 'index' %>"></th>
      </tr>
    </thead>

    <tbody>
      <%= render 'items/partial/item' %>
    </tbody>

  </table>

<% else %>
  <div class="container center">
    <h3 class="dark">沒有找到品項，是否要<%= link_to '新增',new_item_path %>呢？</h3>
    <%= image_tag 'found.gif' %>
  </div>

<% end %>