<table class="scroll">
  <thead>
    <tr>
      <th class="smCell center">櫃位</th>
      <th class="lgCell center">圖號</th>
      <th class="xsCell"></th>
      <th class="lgCell center">舊圖號</th>
      <th class="lgCell center">提醒</th>
      <th class="smCell center">成品</th>
      <th class="smCell center">半成品</th>
      <th class="xsCell"></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <%= form_for item do |f| %>
        <tr>
          <td class="smCell center"><%= f.text_field :location, size: 7 %></td>
          <td class="lgCell" style="text-align:right !important;">
            <% if item.picnum.present? %>
              <%= params[:search] ? emphasizePicnum(item.picnum,params[:search])  : formatPicnum(item.picnum) %>
            <% end %>
          </td>
          <td class="xsCell">
            <%= link_to edit_item_path(item) do %><span id="apple"></span><% end %>
          </td>
          <td class="lgCell center">
            <% if item.oldpicnum.present? %>
              <%= params[:search] ? emphasizePicnum(item.oldpicnum,params[:search])  : formatPicnum(item.oldpicnum) %>
            <% end %>
          </td>
          <td class="lgCell center">
            <% if item.note.present? then%>
              <%= f.text_area :note, :value => item.note.gsub(/\n$/,''), :rows => textAreaRowNum(item.note), class:'item-note' %>
            <% else %>
              <%= f.text_area :note, :rows => 1, class:'item-note' %>
            <% end %>
          </td>
          <td class="smCell center"><%= f.text_field :finishQty, size: 4 %></td>
          <td class="smCell center"><%= f.text_field :unfinishQty, size: 4 %></td>
          <td class="xsCell">
            <%= button_tag(type: 'submit', class: "no-btn") do %>
              <i class="fa fa-check"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class="center">
<% if params[:search].blank? %>
<%= will_paginate @items, renderer: BootstrapPagination::Rails %>
<% end %>
</div>