<table class="table table-hover" id="stockTable">
  <thead>
    <tr>
      <th class="sm-th">櫃位</th>
      <th class="mid-th hidden">品項</th>
      <th class="lg-th">圖號</th>
      <th></th>
      <th class="lg-th">舊圖號</th>
      <th class="lg-th">提醒</th>
      <th class="sm-line">成<br>品</th>
      <th class="sm-line">半<br>成<br>品</th>
    </tr>
  </thead>
  <% @items.each do |item| %>
    <tbody class="stock-item-form">
      <%= form_for item do |f| %>
        <tr>

          <td class="sm-th">
            <%= f.text_field :location, size: 10 %>
          </td>

          <td class="mid-th hidden">
            <% @customerList = { '富暘'=>8 } %>
            <%= emphasizeCustomer(item.item_type, @customerList ) %>
          </td>

          <%= render 'items/partial/picnum', item: item if item.picnum.present? %>

          <td>
            <% if item.oldPicnum.present? %>
              <span><%= params[:search] ? emphasizePicnum(item.oldPicnum,params[:search])  : formatPicnum(item.oldPicnum) %></span>
            <% end %>
          </td>

          <td class="lgFont">
            <% if item.note.present? then%>
              <%= f.text_area :note, :value => item.note.gsub(/\n$/,''), :rows => textAreaRowNum(item.note), class:'item-note' %>
            <% else %>
              <%= f.text_area :note, :rows => 1, class:'item-note' %>
            <% end %>
            <%= f.submit 'Update' %>
          </td>

          <td class="lgFont">
            <%= f.text_field :finishQty, size: 6 %>
          </td>

          <td class="lgFont">
            <%= f.text_field :unfinishQty, size: 6 %>
          </td>

          <td class="hidden"><%= f.submit %></td>

          <td class="hidden"><%= link_to 'Delete', item, method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>