$('td.finish[data-stage-id = <%= @stage.id %>]').replaceWith('<td><%= @stage.finished_date %></td>');
$('td.state[data-stage-id = <%= @stage.id %>]').replaceWith('<td><%= @stage.aasm.human_state %></td>');

$('td.arrive[data-stage-id = <%= @stage.try(:next).try(:id) %>]').replaceWith('<td><%= @stage.try(:next).try(:arrival_date) %></td>');
$('td.state[data-stage-id = <%= @stage.try(:next).try(:id) %>]').replaceWith('<td><%= @stage.try(:next).try(:aasm).try(:human_state) %></td>');