= simple_form_for @procedure, html: { class: 'form-horizontal' } do |f|
  - if @procedure.errors.any?
    #error_explanation
      %h2= "#{pluralize(@procedure.errors.count, "error")} 發生:"
      %ul
        - @procedure.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-sm-6
      %h2.center 製程
      .well
        = f.fields_for @workpiece do |ff|
          = ff.input :picnum, required: true
          = ff.input :wp_type
        = f.input :procedure_amount, required: true
        = f.input :material_spec
        = f.input :sourcing_type
        = f.input :start_date, as: :date_picker, input_html: { value: Time.now }
        = f.input :customer
        /= f.input :aasm_state, disabled: true

        .text-center
          = f.button :submit, class: 'btn btn-success'
          = link_to I18n.t('procedures.procedure.back'), session[:last_page]

    .col-sm-6
      %h2.center
        各站
        = link_to_add_association f, :stages, id: 'add-stage-btn', render_options: { wrapper: 'horizontal_table_form' }, partial: 'new_stage_fields' do
          %i.fa.fa-plus{ style: 'font-size: 26px; vertical-align: middle;' }
      = render 'new_stage_form', f: f