= simple_form_for [procedure, stage], wrapper: :horizontal_table_form do |f|
  %table.table.nested-fields.stage-table.single.line.ui{ class: "#{picnum} edit#{stage.id}" }
    %tbody
      %tr
        %td= stage.arrival_date
        %td= stage.factory_name
        %td= stage.arrival_amount
        = f.input :note
        %td= stage.estimated_date
        = f.input :finished_amount
        %td= stage.broken_amount
        /%td= button_to 'Finish', finish_stage_path(stage), method: :patch
        %td= stage.aasm_state
        %td= f.submit 'Update'
        %td{ style: 'vertical-align: middle;' }
          = link_to edit_procedure_stage_path(procedure, stage), remote: true, data: { stage: "#{stage.id}" } do
            %i.fa.fa-pencil
