.container
  - @procedures.each do |procedure|
    / if a procedure has no stage then skip it !!!
    /- @stages = procedure.stages

    - if procedure.stages

      - @picnum = procedure.workpiece.picnum
      /- status = @stages.where(finish_date: nil).present? ? 'primary' : 'success'

      = simple_form_for procedure, wrapper: :horizontal_table_form do |f|

        .panel#procedure-stage-panel{ class: "panel-primary" }
          .panel-heading{ data: { picnum: @picnum } }
            / - current_stage = @stages.where(finish_date: nil).first || @stages.last
            / - number = current_stage.try(:amount)
            / - name = current_stage.try(:factory_name)
            / - date = current_stage.try(:arrival_date) || current_stage.try(:finish_date)
            / .text-center
            /   - if number && @stages.where(finish_date: nil).first
            /     = "#{Date.strptime(date, '%m/%d/%Y')}，有#{number}個#{@picnum[-7..-1]}在#{name}"
            /   - else
            /     = "#{Date.strptime(date, '%m/%d/%Y')} | #{@picnum[-7..-1]} | Finish"
            = @picnum[-7..-1]
            %span.glyphicon.glyphicon-resize-full.show-stages
          .panel-body
            %table.table.procedure-table
              %tbody
                %tr{ class: 'primary' }
                  = f.input :sourcing_type, placeholder: 'sourcing_type'
                  = f.input :start_date
                  = f.input :customer
                  = f.input :material_spec, placeholder: 'material_spec'
                  = f.input :procedure_amount
                  %td= link_to 'Edit', edit_procedure_path(procedure)
                  %td= link_to 'Destroy', procedure, :method => :delete, :data => { :confirm => 'Are you sure?' }
                  %td= link_to 'New Proc', new_procedure_path(copy_id: procedure)
                  %td= f.submit

          %table.table.stage-table{ class: @picnum }
            %thead
              %tr
                %th arrival_date
                %th amount
                %th factory
                %th estimated
                %th finish_date
                %th 提醒
                %th 成品
                %th 半成品
                %th Status
            %tbody
              /= render procedure.stages, procedure: procedure
              - procedure.stages.each do |stage|
                = simple_form_for [procedure, stage], wrapper: :horizontal_table_form do |s|
                  %tr
                    = s.input :arrival_date
                    = s.input :amount
                    = s.input :factory_name
                    = s.input :estimated_date
                    = s.input :finish_date
                    = s.input :note
                    = s.input :finished
                    = s.input :broken
                    %td= stage.aasm_state
                    %td= s.submit

  /= will_paginate @procedures, renderer: BootstrapPagination::Rails

  = link_to 'New Blank Procedure', new_procedure_path